.ui-grid-solo {
	text-align: center;
}

.ui-grid-solo img {
	border: 1px solid #f7931e;
}

.rss_content {
    width: 100%;
    margin: auto;
    border-bottom: 1px dashed #f7931e;
	text-shadow: none;
	font-size: 12px; 
    }

.brompton-header {
	height: 42px;
}

.ui-btn-right {
	background-image: url("images/brompton-grid.png");
	width: 36px;
	height: 36px;
}

h3.brompton-title {
	text-align: center;
}

#popupPanel-popup {
    right: auto !important;
    left: 0 !important;
}
#popupPanel {
    width: 280px;
    border: 1px solid #000;
    border-right: none;
    background: rgba(0,0,0,.5);
    margin: -1px 0;
	color: #fff;
}
#popupPanel ul {
    margin: 1em 5px;
}

#popupPanel ul li{
    margin-top: 2px;
	line-height: 24px;
}

